.formatted-text {
    display: flex;
    flex-direction: column;
    row-gap: var(--font-size-base);

    h1,
    h2,
    h3 {
        margin-top: 1em;
        position: relative;
        scroll-margin-top: calc(var(--spacing-base) + var(--height-primary-navigation-header));

        &:first-child {
            margin-top: -0.25em;
        }
    }

    h1 {
        font-size: 3em;
        font-weight: bold;
    }

    h2 {
        font-size: 2em;
        font-weight: bold;
    }

    p code {
        --margin-horizontal: 4px;

        display: inline-block;
        font-family: var(--font-family-monospace);
        font-weight: bold;
        margin: 0 var(--margin-horizontal);
        position: relative;
        z-index: var(--z-index-text-decoration);

        &::after {
            --size-overflow: calc(-1 * var(--margin-horizontal));

            background-color: #f5f5f5;
            border-radius: 20% 10px 30% 10px;
            bottom: var(--size-overflow);
            content: "";
            left: var(--size-overflow);
            pointer-events: none;
            position: absolute;
            right: var(--size-overflow);
            top: var(--size-overflow);
            user-select: none;
            z-index: -1;
        }
    }

    p + p {
        text-indent: 2ch;
    }

    pre[data-lang] {
        background-color: transparent !important;
        border: 2px solid var(--color-border);
        display: grid;
        margin: var(--spacing-base) calc(-1 * var(--spacing-base));
        position: relative;

        &::before {
            background-color: lavender;
            border-bottom: 2px solid var(--color-border);
            content: attr(data-lang);
            left: 0;
            padding: var(--spacing-half);
            right: 0;
            position: sticky;
            top: 0;
        }

        code {
            overflow-x: auto;
            padding: var(--spacing-base);
        }
    }
}

.formatted-text__note {
    background-color: var(--color-note-background);
    margin: var(--spacing-base) calc(-1 * var(--spacing-base));
    padding: var(--spacing-base);
}
