@import "./_breakpoints";
@import "./_fonts";
@import "./_formatted_text";
@import "./_reset";
@import "./_variables";

// Docs

.docs {
    display: grid;
    gap: var(--spacing-2x);
    grid-template-areas:
        "docs-nav content page-nav"
    ;
    grid-template-columns: minmax(200px, auto) 1fr minmax(auto, 300px);
    width: 100%;
}

.docs__content {
    grid-area: content;
    justify-self: center;
    max-width: 80ch;
}

.docs__nav {
    grid-area: docs-nav;
    padding-left: var(--spacing-2x);
}

.docs__nav,
.page__nav {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    max-height: calc(100dvh - var(--height-primary-navigation-header));
    position: sticky;
    top: calc(var(--height-primary-navigation-header) + var(--spacing-2x));

    @include mobile {
        display: none;
    }

    @include tablet-and-up {
        display: flex;
    }
}

.docs__nav-link,
.docs__nav__mobile-link,
.page__link {
    text-decoration: none;
}

.docs__nav-link.docs__nav-link--active {
    display: inline-flex;
    position: relative;
    z-index: 1;

    &::before {
        background-color: var(--color-highlight);
        border-radius: 20px 30% 20px 20px;
        content: "";
        left: calc(-1 * var(--spacing-base));
        position: absolute;
        top: calc(-1 * var(--spacing-half));
        right: calc(-1 * var(--spacing-base));
        bottom: calc(-1 * var(--spacing-half));
        z-index: -1;
    }
}

.docs__nav-section {
    margin-left: var(--spacing-base);
}

.docs__nav-section-title {
    font-weight: bold;
}

.docs__title {
    grid-area: title;
}

.page__nav {
    border-left: 2px solid var(--color-border);
    grid-area: page-nav;
    padding: 0 var(--spacing-2x);
}

// Footer

// Homepage

.homepage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

// Main

.primary-main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

// Navigation

#mobile-toggle {
    display: none;
}

@include mobile {
    body:has(#mobile-toggle:checked) {
        .primary-navigation__mobile {
            pointer-events: auto;
            transform: translateX(0);
            visibility: visible;
        }

        .primary-navigation__backdrop {
            pointer-events: auto;
            visibility: visible;
        }
    }
}

.primary-navigation {
    align-items: center;
    backdrop-filter: blur(10px);
    display: flex;
    padding: 0 var(--spacing-base);
    position: sticky;
    top: 0;
    z-index: var(--z-index-primary-navigation-header);

    @include mobile {
        gap: var(--spacing-base);
    }

    @include tablet-and-up {
        justify-content: space-between;
    }
}

.primary-navigation__backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 100dvh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100dvw;
    z-index: var(--z-index-mobile-navigation-backdrop);
}

.primary-navigation__group {
    align-items: center;
    display: flex;
    gap: var(--spacing-base);
}

.primary-navigation__group.primary-navigation__group--logo{
    @include mobile {
        flex-grow: 1;
    }
}

.primary-navigation__group-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-base);
}

.primary-navigation__group-wrapper .primary-navigation__group:first-child {
    @include mobile {
        display: none;
    }
}

.primary-navigation__link {
    display: flex;
    padding: var(--spacing-base);
    text-decoration: none;
}

.primary-navigation__link svg {
    height: var(--primary-navigation-icon-height);
    width: var(--primary-navigation-icon-width);
}

.primary-navigation__link.primary-navigation__link--active {
    background-color: var(--color-highlight);
    border-radius: 20px 30% 20px 20px;
}

.primary-navigation__mobile {
    --width-mobile-navigation: 80dvw;

    background-color: #fff;
    height: 100dvh;
    left: 0;
    overflow-y: auto;
    padding: var(--spacing-2x);
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    visibility: hidden;
    width: var(--width-mobile-navigation);
    z-index: var(--z-index-mobile-navigation);
}

.primary-navigation__mobile-button {
    @include mobile {
        cursor: pointer;
        display: grid;
        grid-row-gap: calc(0.5 * var(--spacing-half));

        svg {
            height: 24px;
            width: 24px;
        }
    }

    @include tablet-and-up {
        display: none;
    }
}

.primary-navigation__mobile-docs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

.primary-navigation__mobile__close {
    display: flex;
    height: 30px;
    width: 30px;
}

.primary-navigation__mobile__link {
    text-decoration: none;
}

.primary-navigation__mobile__links {
    border-bottom: 1px dashed;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
    padding-bottom: var(--spacing-2x);
}

.primary-navigation__mobile__logo-group {
    align-items: center;
    border-bottom: 1px dashed;
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--spacing-2x);
}

.primary-navigation__mobile__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2x);
}

// Page

.page {
    display: grid;
    gap: var(--spacing-2x);
    grid-template-rows: var(--height-primary-navigation-header) 1fr;
    min-height: 100dvh;
}
