$desktop-breakpoint: 800px;

@import "./_fonts";
@import "./_formatted_text";
@import "./_reset";
@import "./_variables";

// Docs

.docs {
  display: grid;
  gap: var(--spacing-2x);
  padding-top: var(--height-mobile-sub-navigation);
  width: 100%;

  @media (max-width: #{$desktop-breakpoint}) {
    grid-template-areas: "content";
    height: 100%;
  }

  @media (min-width: #{$desktop-breakpoint}) {
    grid-template-areas: "docs-nav content page-nav";
    grid-template-columns: minmax(240px, auto) 1fr minmax(auto, 200px);
  }
}

.docs__content {
  grid-area: content;
  justify-self: center;
  width: 100%;

  @media (max-width: #{$desktop-breakpoint}) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: var(--spacing-2x);

    .formatted-text {
      padding: 0 var(--spacing-base);
    }
  }
  @media (min-width: #{$desktop-breakpoint}) {
    max-width: 80ch;
  }
}

.docs__nav,
.page__nav {
  align-self: flex-start;
  display: flex;
  flex-direction: column;

  @media (min-width: #{$desktop-breakpoint}) {
    gap: var(--spacing-base);
    top: calc(var(--height-primary-navigation-header) + var(--spacing-2x));
  }
}

.docs__nav {
  grid-area: docs-nav;

  @media (max-width: #{$desktop-breakpoint}) {
    --color-highlight: #333;

    background-color: #111;
    color: #fafafa;
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: calc(100dvh - var(--height-primary-navigation-header));
    overflow-y: auto;
    position: fixed;
    top: var(--height-primary-navigation-header);
    width: 100%;
    z-index: var(--z-index-primary-navigation);
  }
  @media (min-width: #{$desktop-breakpoint}) {
    padding-left: var(--spacing-base);
  }
}

.docs__nav__content {
  display: flex;
  flex-direction: column;

  @media (max-width: #{$desktop-breakpoint}) {
    padding-bottom: var(--spacing-half);
  }
  @media (min-width: #{$desktop-breakpoint}) {
    row-gap: var(--spacing-base);
  }
}

@media (max-width: #{$desktop-breakpoint}) {
  .docs:has(#docs-nav-toggle:checked) {
    .docs__nav__toggle {
      &::after {
        content: "▼";
      }
    }

    .docs__nav__content {
      height: 0;
      overflow: hidden;
      padding-bottom: 0;
    }
  }
}

.docs__nav__toggle {
  @media (max-width: #{$desktop-breakpoint}) {
    align-items: center;
    backdrop-filter: blur(10px);
    column-gap: var(--spacing-half);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: var(--height-mobile-sub-navigation);
    padding: 0 var(--spacing-base);
    position: sticky;
    top: 0;
    z-index: var(--z-index-primary-navigation);

    &::after {
      content: "▲";
    }
  }
  @media (min-width: #{$desktop-breakpoint}) {
    display: none;
  }
}

#docs-nav-toggle {
  display: none;
}

#docs-nav-toggle:checked + .docs__nav {
}

.docs__nav-link,
.page__link {
  display: inline-flex;
  text-decoration: none;
}

.docs__nav-link.docs__nav-link--active {
  position: relative;
  z-index: 1;

  &::before {
    background-color: var(--color-highlight);
    border-radius: 20px 30% 20px 20px;
    border: 2px solid var(--color-border);
    content: "";
    left: calc(-1 * var(--spacing-base));
    position: absolute;
    top: calc(-1 * var(--spacing-half));
    right: calc(-1 * var(--spacing-base));
    bottom: calc(-1 * var(--spacing-half));
    z-index: -1;
  }
}

.docs__nav-section,
.docs__nav-section-title {
  @media (max-width: #{$desktop-breakpoint}) {
    padding: var(--spacing-half) var(--spacing-base);
  }
  @media (min-width: #{$desktop-breakpoint}) {
    margin-left: var(--spacing-base);
  }
}

.docs__nav-section-title {
  font-weight: bold;

  &:not(:first-of-type) {
    margin-top: var(--spacing-2x);
  }
}

.docs__related-pages {
  display: grid;
  grid-template-areas: "prev next";
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: #{$desktop-breakpoint}) {
    background-color: var(--color-body-background);
    border-top: 2px dashed var(--color-border);
    bottom: 0;
    height: var(--height-mobile-related-pages);
    margin-top: var(--spacing-2x);
    position: sticky;
    width: 100dvw;
    z-index: var(--z-index-related-pages);
  }
  @media (min-width: #{$desktop-breakpoint}) {
    column-gap: var(--spacing-2x);
    margin-top: var(--spacing-base);
  }
}

.docs__related-pages__link {
  column-gap: var(--spacing-half);
  display: flex;
  flex-direction: row;
  font-style: italic;
  text-decoration: none;

  @media (max-width: #{$desktop-breakpoint}) {
    align-items: center;
    padding: 0 var(--spacing-base);
  }
  @media (min-width: #{$desktop-breakpoint}) {
    padding: var(--spacing-base) 0;
  }
}

.docs__related-pages__link.docs__related-pages__link--next,
.docs__related-pages__link.docs__related-pages__link--prev {
  &::after,
  &::before {
    line-height: 1.3;
  }
}

.docs__related-pages__link.docs__related-pages__link--next {
  grid-area: next;
  justify-content: flex-end;
  text-align: right;

  &::after {
    content: "→";
  }
}

.docs__related-pages__link.docs__related-pages__link--prev {
  grid-area: prev;

  &::before {
    content: "←";
  }
}

.docs__title {
  grid-area: title;
}

.page__nav {
  @media (max-width: #{$desktop-breakpoint}) {
    display: none;
  }
  @media (min-width: #{$desktop-breakpoint}) {
    border-left: 2px solid var(--color-border);
    grid-area: page-nav;
    padding: 0 var(--spacing-2x);
    position: sticky;
    top: calc(var(--height-primary-navigation-header) + var(--spacing-base));
  }
}

// Footer

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer a {
  text-decoration: none;
}

// Homepage

.homepage {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: var(--spacing-2x) 0;
  row-gap: var(--spacing-2x);
}

.homepage__cta {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);

  @media (max-width: #{$desktop-breakpoint}) {
    padding: 0 var(--spacing-base);
  }
}

.homepage__cta__button {
  border: 2px solid var(--color-border);
  border-radius: 20px 30% 20px 20px;
  display: inline-flex;
  padding: var(--spacing-half) var(--spacing-base);
  text-decoration: none;
}

.homepage__cta__button.homepage__cta__button--primary {
  background-color: var(--color-highlight);
  color: var(--color-text-on-highlight);
}

.homepage__title {
  font-size: 130px;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 1;
  text-shadow: 5px 0 0 #ffff0022, 10px 0 0 #ff000022, 15px 0 0 #0000ff22;

  &::first-letter {
    font-family: serif;
    font-size: 1.3em;
  }

  @media (max-width: #{$desktop-breakpoint}) {
    font-size: 80px;
  }
  @media (min-width: #{$desktop-breakpoint}) {
    font-size: 130px;
  }
}

.homepage__title,
.homepage__subtitle {
  padding: 0 var(--spacing-base);
}

// Main

.primary-main {
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (max-width: #{$desktop-breakpoint}) {
    margin-top: var(--height-primary-navigation-header);
  }
  @media (min-width: #{$desktop-breakpoint}) {
    margin-top: calc(var(--height-primary-navigation-header) + var(--spacing-2x));
  }
}

// Navigation

.primary-navigation {
  align-items: center;
  backdrop-filter: blur(10px);
  display: flex;
  height: var(--height-primary-navigation-header);
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-primary-navigation);

  @media (min-width: #{$desktop-breakpoint}) {
    padding: 0 var(--spacing-base);
  }
}

.primary-navigation__group {
  align-items: center;
  display: flex;
  gap: var(--spacing-base);
}

.primary-navigation__group.primary-navigation__group--logo {
  @media (max-width: #{$desktop-breakpoint}) {
    flex-grow: 1;
  }
}

.primary-navigation__group-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-base);
}

.primary-navigation__link {
  display: flex;
  padding: var(--spacing-half) var(--spacing-base);
  text-decoration: none;
  border: 2px solid transparent;
}

.primary-navigation__link svg {
  height: var(--primary-navigation-icon-height);
  width: var(--primary-navigation-icon-width);
}

.primary-navigation__link.primary-navigation__link--active {
  background-color: var(--color-highlight);
  border-color: var(--color-border);
  border-radius: 20px 30% 20px 20px;
}

.primary-navigation__link.primary-navigation__link--logo {
  font-weight: bold;
}

// Page

.page {
  display: grid;
  grid-template-rows:
    1fr
    var(--height-footer);
  min-height: 100dvh;

  @media (min-width: #{$desktop-breakpoint}) {
    gap: var(--spacing-2x);
  }
}

// Redirect

.redirect-page {
  align-items: center;
  display: grid;
  height: 100dvh;
  justify-items: center;
  width: 100%;
}

.redirect-page__content {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-half);

  h1 {
    font-size: 3em;
    font-weight: bold;
  }
}
