{% extends "base.html" %}

{% block base_content %}
    {% set section = get_section(path=page.ancestors[1]) %}

    <div class="docs">
        <input checked type="checkbox" id="docs-nav-toggle">
        <nav class="docs__nav">
            <label class="docs__nav__toggle" for="docs-nav-toggle">
                {{ section.extra.mobile_menu_title }}
            </label>
            <div class="docs__nav__content">
                {% for subsection_path in section.subsections %}
                    {% set subsection = get_section(path=subsection_path) %}
                    <div class="docs__nav-section-title">
                        {{ subsection.title }}
                    </div>
                    {% for page in subsection.pages %}
                        <div class="docs__nav-section">
                            <a
                                class="
                                    docs__nav-link
                                    {% if current_path == page.path %}
                                        docs__nav-link--active
                                    {% endif %}
                                "
                                href="{{page.permalink}}"
                            >
                                {{page.title}}
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </nav>
        {% block docs_content %}{% endblock docs_content %}
    </div>

{% endblock base_content %}
